<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.admin.mapper.MenuMapper">
	<select id="queryAllMenu" resultType="com.lzj.admin.dto.TreeDto">
		select m.id,m.p_id pid,m.name title,m.icon,m.url from t_menu m 
		where m.is_del=0
	</select>
</mapper>